@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
body {
  font-family: var(--body-font) !important;
  font-size: var(--normal-font-size) !important;
  background-color: var(--body-color) !important;
  color: var(--text-color) !important;
}

.button:hover {
  background-color: var(206, 4%, 8%);
  color: white;
}

.main-sidebar {
  display: none !important;
}

h2 {
  color: white;
}

.content-wrapper {
  background-color: unset;
  height: auto;
  margin-left: 0 !important;
}
.content-wrapper .content {
  height: 40px;
  padding: 0;
}
.content-wrapper .content .container-fluid {
  height: 100%;
}
.content-wrapper .content .container-fluid nav {
  height: 100%;
  align-items: center;
}
.content-wrapper .content .container-fluid nav ul.switch-tab {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
  bottom: 0;
  left: 50%;
}
.content-wrapper .content .container-fluid nav ul.switch-tab li {
  width: 33.3333%;
}
.content-wrapper .content .container-fluid nav ul.switch-tab li a {
  color: gray;
}
.content-wrapper .content .container-fluid nav .nav__list {
  margin-bottom: 0;
}
.content-wrapper .content .container-fluid nav .button {
  padding: 0;
  background-color: transparent;
}
.content-wrapper .content .container-fluid nav .cart-wrapper .nav-item {
  display: flex;
  align-items: center;
}

.footer__container {
  max-width: 1200px;
}
.footer__container .footer__logo {
  width: 100%;
}
.footer__container .footer__content {
  text-align: left;
}
.footer__container .footer__content:nth-child(2n+0) {
  padding-left: 30px;
}

.products__img {
  top: -4.2rem;
}
@media screen and (min-width: 767px) {
  .products__img {
    width: 130px;
  }
}

@media screen and (min-width: 767px) {
  .nav__logo {
    width: 12rem;
  }
}

@media screen and (min-width: 767px) {
  .specs__img {
    width: 503px;
  }
}

.section__title-gradient {
  max-width: 1000px;
  line-height: 70px;
  margin-bottom: 50px !important;
  margin-left: auto;
  margin-right: auto;
}

.home__subtitle {
  font-size: 50px;
  padding-top: 30px;
}

@media screen and (min-width: 1024px) {
  .home__img {
    width: 500px;
    top: 50px;
    left: 0px;
  }
}

@media screen and (min-width: 767px) {
  .case__container {
    column-gap: 2rem;
  }
}

.nav-sidebar {
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-wrap: nowrap;
}
.nav-sidebar .nav-item {
  text-align: left;
}

.scrollup {
  bottom: 10%;
  right: 2%;
}

/*# sourceMappingURL=homepage.css.map */
